{% extends 'base.html' %}
{% block content %}
{% load static %}

    

    <h1 id="GrooveTitle" class="page-title text-white">Dashboard</h1>

    <div class="info-text">
        <h3 style="border: 5px solid red; border-radius: 20px; text-align: center;" class="info-text mb-5">Hello, {{ username }}!</h3>
        <!-- <a href="{% url 'user.login' %}" style="color: red;">LOG OUT</a> -->
        
        {% for account in accounts %}
            {% if username == account.username %}
                <h3 style="color: red;">Your Data:</h3>
                <div class="dev-name text-white" style=" border: 3px solid red; border-radius: 10px; padding: 10px;">
                    <p></p>
                    <p><strong>Username:</strong> {{ account.username }}</p>
                    <p><strong>Password:</strong> {{ account.password }}</p>
                    <p><strong>Joined:</strong> {{ account.join_date }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <br><br>

        <h3 style="color: red;">Overall Game Performance</h3>
        <div class="dev-name text-white" style=" border: 3px solid red; border-radius: 10px;">
            <section style="margin-left: 15%; margin-top: 5%; margin-right: 15%; margin-bottom: 5%;">
                {% if place == -1 %}
                    This is where I would put my game stats...
                    If I had any!
                {% else %}
                    You rank #{{ place }} out of all players!
                    {% if place == 1 %}
                        <br>
                        Well done, Champ!
                    {% endif %}
                {% endif %}
            </section>
        </div>
        <br><br>

        <h4 class="text-white">Ready for another round?</h4>
        <div style="margin: 5%;">
            <a class="text-white" style="text-shadow: 0 0 10px rgba(255, 85, 85, 0.8);" 
            href="{% url 'user.playGame' %}?data={{username}}">
                Click Here to Start a New Game of GrooveGuesser!
            </a>
        </div>
    </div>
    
    
{% endblock content %}