{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="info-text">
    <h1>About</h1>
    <p>GrooveGuesser is currently in development for a Software Engineering class
        at Florida Southern College. The current developers are:</p>

    <div class="dev-list">
        <div class="dev-name">Adam Boulos</div>
        <div class="dev-name">Matt Flammenspeck</div>
        <div class="dev-name">Patrick Fratus</div>
        <div class="dev-name">Colsen Hernandez</div>
        <div class="dev-name">Anderson Morris</div>
    </div>
</div>

{% endblock content %}
