{% extends "base.html" %}
{% block content %}
{% load static %}

<h1 class="main-title">Groove Guesser</h1>

<div class="info-text">
   <p>Welcome to <strong>GrooveGuesser</strong>, a randomly generated song guessing game!  
      Learn more about GrooveGuesser <a href="{% url 'about' %}">HERE!</a></p>

   <p>If you want to log into your account, or create a new account,  
      click <a href="{% url 'user.signup' %}">HERE!</a>.</p>

   <div class="start-wrapper">
      <a href="{% url 'pregame' %}" class="start-btn">Start Game</a>
      <div class="equalizer">
          <div></div><div></div><div></div><div></div><div></div>
      </div>
   </div>
</div>

{% endblock content %}
